.list-users {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // esto va a hacer que todos los elementos se vayan a los extremos

    margin-bottom: 15px;
    margin-top: 5px;
    // margin-right: 45px;

    &-switch {
      display: flex;
      align-items: center;

      > button {
        margin-right: 20px;
      }
    }
  }
  .users-active {
    background-color: #fff;
    padding: 10px 20px;
    // margin-right: 40px;

    .ant-list-item-meta {
      display: flex;
      align-items: center;
    }
  }
}
